# Virtual environment - ignore everything inside ex00
venv/*

# Except our actual work
!venv/*.ipynb
!venv/requirements.txt

# Jupyter artifacts
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

data/

scripts/__pycache__
*.pyc
